body {
    background-color: #ADD8E6;
    color: #221811;
    font-family: 'Times New Roman', Georgia, 'Times New Roman', Times, serif;
    background-image: url("/seclub/assets/pic/background.gif");
}